# PostgreSQL Database Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/step_high_sneakers?schema=public"

# Better Auth Configuration
BETTER_AUTH_SECRET="super-secret-hex-key-minimum-32-chars-long-here"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Resend Transactional Email API Key & Webhook Secret
RESEND_API_KEY="re_123456789_abcdefghijklmnopqrstuvwxyz"
RESEND_WEBHOOK_SECRET="whsec_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
EMAIL_FROM="Step High Sneakers <orders@stephighsneakers.com>"
